{% extends "out_main.html" %}
{% load sometags %}

{% block cont_stuff %}
    <div class="sign_boxs">
        <div class="sign_boxs_top">
            Sign Up
        </div>
        <div class="sign_boxs_place">
            <form method="post" action="">
                {% csrf_token %}
                <div class="login_form">
                    {% for field in form %}
                        <div class="form_jump">{{ field.label }}</div>
                        <div class="form_jump">{{ field|addcss:"form" }}</div>
                    {% endfor %}
                </div>
                <div class="go_right">
                    <input type="submit" value="Register" />
                </div>
            </form>
            {% if form.errors %}
                <script>
                    setTimeout(function(){
                        ui.dialog("Invalid data. Please try again.")
                                .effect('slide')
                                .closable()
                                .show()
                                .hide(4000)
                        return false;
                    });
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}


