{% extends 'main.html' %}

{% block con_title %}
    Map
{% endblock %}
{% block content %}
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
    <style>
        #map{
            height:500px;
            width:100%;
        }
        .main_feed{
            padding:7px;
        }
        .main_cont{
            max-width:900px;
        }
    </style>


    <div id="map"></div>

    <script>
        var map = L.mapbox.map('map', 'this33.i606b491').setView([62.2, 26], 7);
    </script>

{% endblock %}